<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>    
</head>
<body>
    <div style="background:white;
                opacity:0.8;
                box-shadow: 1px 1px 10px black;
                padding: 15px;
                margin:5%;">
        <hgroup>
            <h1>Error.</h1>
            <h2>@ViewBag.DescripcionError</h2>
        </hgroup>
    </div>
</body>
</html>
